body{
  background-color: black;
}
.gameCard {
    width: 400px;
    height: 530px;
    color: white;
    background-color: rgb(68, 67, 67);
    margin: 20px;
    display: inline-flex;
}

.gameCard img {
    width: 375px;
    padding: 10px;
}

.gameText {
  padding-left: 10px;
  margin-bottom: 10px;
}

.searchBar{
  width: 80%;
  margin: 2%;
}
.container{
  display: inline-block;
}

h1{
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
  font-size: 18px;
  font-family: monospace;
}

b{
  font-size: 18px;
  font-family: monospace;
  color: rgb(197, 197, 197);
}

a{
  font-size: 18px;
  font-family: monospace;
  color: rgb(124, 175, 204);
  text-decoration: none;
}

a:hover{
  font-size: 18px;
  font-family: monospace;
  color: rgb(124, 175, 204);
  text-decoration: underline;
}

a:active{
  font-size: 18px;
  font-family: monospace;
  color: white;
  text-decoration: underline;
}

.more{
  margin: 50px;
}

.contactError{
  color: red;
  font-size: 12px;
  margin-left: 30px;
  margin-top: 0;
}

input{
  border: 1px solid white;
  background-color: rgb(197, 197, 197);
  color: black;
  width: 400px;
  margin: 6px;
}

.submitInput:hover{
  background-color: rgb(124, 175, 204);
  color: black;
}
.submitInput:active{
  background-color: rgb(124, 175, 204);
  text-decoration: underline;
}

.messageArea{
  width: 400px;
  height: 200px;
}